<!DOCTYPE html>
<html ng-app="spotifyApp">

<head>
  <title>Spotify</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <link rel="icon" href="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/_global/favicon.png">
</head>

<header>
  <img src="http://www.clker.com/cliparts/5/c/a/f/141490005811489798026274.spotify-logo-horizontal-white-rgb-hi.png" alt="Spotify" width="100"/>
</header>

<body ng-controller="MainController">
  <div class="masterWrap">
    <div class="searchBar marginBottom">
      <label class="pull-left">Search</label>
      <input type="text" class="clearLeft pull-left" ng-model="searchmaster" ng-change="searchMaster()" placeholder="Search">
    </div>

    <div class="col-md-6">
      <trackspotify onitem-click="addItem(track);"></trackspotify>

      <!-- <artistspotify></artistspotify> -->

      <!-- <albumspotify></albumspotify> -->
    </div>

    <div class="col-md-6">
      <toptrackspotify></toptrackspotify>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../script/angular/angular.min.js"></script>
    <script src="../script/angular-spotify.js"></script>
    <script src="../script/main.controller.js"></script>
  </div>
</body>
</html>
